@{
    ViewData["Title"] = "Çicek Kategorisi";
}

@model IEnumerable<DenizKabugu.Models.Category>

<h1> Çiçek Kategorisi</h1>
<br />
<h6>4 adet çiçek kategorisi bulunmaktadır. </h6>
<br />
@*<body>
    @Html.Partial("Create", Model)
</body>*@
<div class="navbar-nav flex-grow-1">
    <div class="col-md-4">
        <div class="form-group">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark">Gül</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">Papatya</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">Karanfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">Lale</a>
                </li>
            </ul>
        </div>
    </div>
</div>