@{
    ViewData["Title"] = "Çicek Kategorisi";
}

@model IEnumerable<DenizKabugu.Models.Category>

<h1> Çiçek Kategorisi</h1>
<br />
<h6>4 adet çiçek kategorimiz bulunmaktadır. </h6>
<br />
<body>
    @Html.Partial("_Category", Model)
</body>