@{
    ViewData["Title"] = "Çikolata Kategorisi";
}

@model IEnumerable<DenizKabugu.Models.Category>

<h1> Çikolata Kategorisi</h1>
<br />
<h6>3 adet çikolata kategorisi bulunmaktadır. </h6>
<br />
<body>
    @Html.Partial("_Category", Model)
</body>