@{
    ViewData["Title"] = "Çikolata Kategorisi";
}

@model IEnumerable<DenizKabugu.Models.Category>

<h1> Çikolata Kategorisi</h1>
<br />
<h6>3 adet çikolata kategorisi bulunmaktadır. </h6>
<br />
@*<body>
    @Html.Partial("_Category", Model)
</body>*@
<div class="navbar-nav flex-grow-1">
    <div class="col-md-4">
        <div class="form-group">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark">Sütlü Çikolata</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">Bitter Çikolata</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">Beyaz Çikolata</a>
                </li>
            </ul>
        </div>
    </div>
</div>