@{
    ViewData["Title"] = "Kitap Kategorisi";
}

@model IEnumerable<DenizKabugu.Models.Category>

<h1> Kitap Kategorisi</h1>
<br />
<h6>2 adet kitap kategorisi bulunmaktadır. </h6>
<br />
<body>
    @Html.Partial("_Category", Model)
</body>