@{
    ViewData["Title"] = "Kitap Kategorisi";
}

@model IEnumerable<DenizKabugu.Models.Category>

<h1> Kitap Kategorisi</h1>
<br />
<h6>2 adet kitap kategorisi bulunmaktadır. </h6>
<br />

<div class="navbar-nav flex-grow-1">
    <div class="col-md-4">
        <div class="form-group">
            <ul class="navbar-nav flex-grow-1">
                <a class="nav-link text-dark">Simyacı</a>
                <li class="nav-item">
                    <a class="nav-link text-dark">Fareler ve </a>
                </li>
            </ul>
        </div>
    </div>
</div>