@{
    ViewData["Title"] = "Oyuncak Kategorisi";
}

@model IEnumerable<DenizKabugu.Models.Category>

<h1> Oyuncak Kategorisi</h1>
<br />
<h6>3 adet oyuncak kategorisi bulunmaktadır. </h6>
<br />


<div class="navbar-nav flex-grow-1">
    <div class="col-md-4">
        <div class="form-group">
            <ul class="navbar-nav flex-grow-1">
                    <a class="nav-link text-dark">Puzzle</a>
                <li class="nav-item">
                    <a class="nav-link text-dark">Puzzle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">Oyun Seti</a>
                </li>
            </ul>
        </div>
    </div>
</div>
