@{
    ViewData["Title"] = "Ürün Kategorileri";
}

@model IEnumerable<DenizKabugu.Models.Category>

<h1>@ViewData["Title"]</h1>
<head>
    <p></p>
</head>
<body>
    @Html.Partial("_Category", Model)
</body>

